*{
	box-sizing:border-box;
}
.hea{
	width: 100%;
	height: 2.6rem;
	background: #C9394A;
}
.w{
	width: 100%;	
}
.h{
	height: 100%;
}
.floatR{
	float: right;
}
.floatL{
	float: left;
}
.Textcenter{
	text-align: center;
}
.disbox{
	display: -webkit-box;
}
.dischil{
	-webkit-box-flex:1;
}
.posR{
	position: relative;
}
.posB{
	position: absolute;
}
.left10{
	left: 10px;
}
.right10{
	right: 10px;
}
.top{
	top:0.4rem;
}